.header 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.header nav 
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin-left: 200px;
}
.header nav h2{
    font-weight: 400;
}
.header .headerbar section{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
    font-size: 15px;
}
.header .headerbar section h2
{
    cursor: pointer;
}
.header .headerbar section h2:nth-child(2)
{
    border: 1px solid black;
    padding: 6px;
}
.headerbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}